---
import Layout from '../layouts/Layout.astro';
import FlipClock from '../components/FlipClock.astro';
import DiscordButton from '../components/DiscordButton.astro';
import AnimatedGrid from '../components/AnimatedGrid.astro';
---

<Layout>
  <section class="test-hero">
    <AnimatedGrid />
    <div class="container">
      <h1>Hak SMP</h1>
      <p class="subtitle">Seizoen 4: Het Landen Systeem</p>
      
      <FlipClock />
      
      <DiscordButton href="#" size="large">
        Join alvast de Discord
      </DiscordButton>
    </div>
  </section>
</Layout>

